<% require 'SpellCalc' %>
<% require 'pp' %>

Issues:
<br>
<ul>
	<li>Some spells don't store actual cooldowns in the "cooldowns" array</li>
	<li>Some spells don't calculate damage the standard way, such as Karthus E.</li>
	<li>Some spells don't follow the typical format of "deal/deals/dealing {{ e# }} (+{{ a/f# }})..."</li>
</ul>

DS_INFO (spell info):<br>
<% SpellCalc::DS_INFO.each do |bd| %>
	<pre>
	<%= PP.pp(bd, "") %>
	</pre>
	<br>
<% end %>

<% SpellCalc::DAMAGE_SPELLS.each do |s| %>
	<pre>
	<%= PP.pp(s, "") %>
	</pre>
<% end %>